<h1> Welcome, <%= @name %> and <%= @name2 %>! </h1>
<h3> Hit Points </h3>
<table>
    <tr>
      <td> <%= @name %>: 100 HP </td>
      <td> <%= @name2 %>: 100 HP </td>
    </tr>
    <tr id="Hit Points">
      <td> 100 </td>
      <td> 100 </td>
    </tr>
</table>
